body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #bdcbe1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #165db7;
}

.divider {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #888;
}

.social-login button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.social-login .facebook {
    background-color: white;
    color: black;
    border: 1px solid rgb(197, 194, 194);
}

.social-login .facebook:hover {
    background-color: #0370ff;
}
.social-login .google {
    background-color: white;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(197, 194, 194);
}

.social-login .google:hover {
    background-color: #c33c2e;
}

.login-link {
    text-align: center;
    font-size: 14px;
}

.login-link a {
    color: #1877f2;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.social-login{
    position: relative;
}
.container .social-login img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}
.img-1 img{
    position: absolute;
    left: 80px;
    top: 7%;
}
.img-2 img{
    position: absolute;
    left: 95px;
    top: 58%;
}
