*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: blue;
    width: 100%;
    height: 30px;
    text-align: center;

}
.menu ul li{
    display:inline-block;
}
.header-top{
    background-color: aqua;
    width: 100%;
    height: 50px;
}
.main-left{
    background-color: aquamarine;
    width: 20%;
    height: 500px;
    float: left;
}
.main-right{
    background-color: rgb(158, 81, 81);
    width: 80%;
    height: 500px;
    float: left;
}
.footer {
    background-color: black

}